@import "colors";

.directions {
  background-color: black;
  font-family: 'Dosis', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;

  .header {
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h2 {
    color: $light-gray;
    font-size: 30px;
    margin-bottom: 30px;

    &#parking-directive {
      // color: $yellow;
      border: 1px solid $yellow;
      padding: 10px 20px;
      font-style: normal;
      border-radius: 5px;
      box-shadow: 0px 0px 10px $yellow;
    }
  }

  p {
    color: $med-gray;
    font-size: 24px;
    margin-bottom: 30px;
  }

  #little-candie {
    box-shadow: 0px 0px 10px $yellow;
    margin: 50px 0px;
  }

  a {
    color: $yellow;
    cursor: pointer;
  }

  .map {
    height: 500px;
    width: 500px;
  }

  #parking-directive {
    &:hover {
      cursor: pointer;
      background-color: $dark-gray;
    }
  }

  .parking-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      margin: 0px 10px;
    }
  }
}