@import "colors";

.rsvp-content {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .rsvp-overlay {
    z-index: 3;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .close-rsvp-button {
    background-color: $white;
    border: 1px solid $yellow;
    border-radius: 12px;
    padding: 4px 7px;
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 4;

    &:hover {
      cursor: pointer;
      background-color: $light-gray;
    }
  }

  .rsvp-form-height-wrapper {
    position: fixed;
    top: 30%;
    width: 100%;

    display: flex;
    justify-content: center;
    z-index: 4;

    .rsvp-form {
      margin-top: 10px;
      width: 50%;
      border: 1px solid $yellow;
      box-shadow: 0px 0px 100px $yellow;
      background-color: $white;
  
      .party-details {
        color: $gray;
        font-family: 'Dosis', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px;
        border-bottom: 1px solid $light-gray;
  
        h2 {
          margin-bottom: 5px;
        }
      }
  
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Dosis', sans-serif;
        font-size: 24px;
        padding: 20px 40px;
  
        .going {
          display: flex;
          justify-content: center;
  
          .going-option:first-child {
            margin-right: 20px;
          }
  
          .going-option input {
            margin-right: 5px;
          }
        }
  
        input, label {
          color: $gray;
          font-family: 'Dosis', sans-serif;
          padding: 5px 5px;
          font-size: 24px;
        }
  
        input[type="text"] {
          border-bottom: 1px solid $gray;
          padding: 10px 10px;
  
          &:first-child {
            margin-right: 10px;
          }
        }
  
        input[type="submit"] {
          background-color: $orange;
          border: none;
          box-shadow: none;
          font-family: 'Dosis', sans-serif;
          font-size: 24px;
          padding: 10px 50px;
          margin-top: 20px;
          width: 50%;
  
          &:hover {
            cursor: pointer;
            background-color: $med-orange;
          }
        }
  
        .plus-one-checkbox {
          margin-top: 20px;
          display: flex;        
          align-items: center;
        }
      }
    }
  }
  
}


