@import "reset";
@import "colors";
@import "navbar";
@import "main_video";
@import "info_section";
@import "how_to";
@import "question_form";
@import "parallax_balloons";
@import "rsvp_form";
@import "inspo";
@import "directions";
@import "portal";
@import "login";

body {
  position: relative;
  color: $white;
}

.header {
  color: $yellow;
  font-family: 'Ribeye Marrow', cursive;
}